#question_sidebar{
    padding: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: azure;
}

#question_sidebar_close{
    font-size: 100px;
    height: 100px;
}


#question_sidebar_score{
    font-size: 60px;
}

#question_sidebar_discovered{
    font-size: 60px;
}

#question_sidebar_undiscovered{
    font-size: 60px;
}