input{
    border: solid 1px black;
}

#title{
    font-size: 60px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

#email{
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
}

#password{
    width: 100%;
    font-size: 50px;
}

#password2{
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
}

#name{
    width: 100%;
    font-size: 50px;
}

#name_kana{
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
}

#tel{
    width: 100%;
    font-size: 50px;
    margin-bottom: 80px;
}

#register{
    width: 70%;
    font-size: 70px;
    background-color: cornflowerblue;
    margin:  0 auto;
}