#pointget_window{
    margin-top: 100px;
}

#pointget_myscore_area{
    font-size: 5rem;
}

#pointget_got_score{
    display: block;
    font-size: 130px;
    /* width: 300px; */
    border: solid 2px red;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    bottom: 0%;
}

#pointget_bonus_do{
    height: 100px;
    background-color: lightskyblue;
    margin-bottom: 30px;
    font-size: 60px;
}

#pointget_bonus_notdo{
    height: 100px;
    background-color: lightskyblue;
    margin-bottom: 30px;
    font-size: 60px;
}