#myscore_area{
    font-size: 5rem;
}

#got_score{
    display: block;
    font-size: 130px;
    /* width: 300px; */
    border: solid 2px red;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    bottom: 0%;
}

#bonus_area{
    margin-top: 50px;
}

#bonus_text{
    text-align: center;
    font-size: 4rem;
}

#bonus_do{
    width: 100%;
    background-color: cornflowerblue;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 60px;
}

#bonus_notdo{
    width: 100%;
    background-color: cornflowerblue;
    margin-bottom: 30px;
    font-size: 60px;
}