#sidebar{
    padding: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: azure;
}

#sidebar_close{
    font-size: 100px;
    height: 100px;
}

#sidebar_score_area{
    padding-left: 10px;
    margin-bottom: 50px;
    border: 1px solid red;
}

#sidebar_score{
    font-size: 60px;
}

#sidebar_discovered{
    font-size: 60px;
}

#sidebar_undiscovered{
    font-size: 60px;
}

#sidebar_home{
    width: 100%;
    background-color: green;
    font-size: 60px;
    margin-bottom: 40px;
}

#sidebar_lost_child{
    width: 100%;
    background-color: red;
    font-size: 60px;
}